html {
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  padding-left: 1rem;
  padding-right: 1rem;
}

body {
  margin: 0.5rem;
}

h3 {
  margin: 0 0 0.5rem 0;
}

div {
  margin-top: 0.4rem;
}

.kleiner {
  font-size: smaller;
}

.ergebnis {
  height: 8rem;
  overflow-y: auto;
  background-color: #eaeaea;

}
